@page "/"
<section class="hero">
    <div class="hero-inner">
        <h1>Recomendador musical</h1>
        <p class="lead">
            Sube un archivo de audio o elige una canción por ID, y obtén recomendaciones personalizadas.
        </p>
        <div class="hero-actions">
            
        </div>
    </div>
    <music.Components.UploadAndRecommend />
</section>

<section class="features">
    <div class="grid">
        <div class="card">
            <h3>Inteligente</h3>
            <p>IEl sistema analiza el audio con una red neuronal convolucional (CNN) capaz de detectar patrones musicales como ritmo, timbre y melodía.</p>
        </div>
        <div class="card">
            <h3>Conectado</h3>
            <p>Un sistema que entiende tus gustos y te acerca a nuevas experiencias musicales.</p>
        </div>
        <div class="card">
            <h3>Personalizado</h3>
            <p>Obtén recomendaciones únicas basadas en tus canciones favoritas o archivos de audio, más allá de géneros y popularidad.</p>
        </div>
        
    </div>
</section>
